{% load sekizai_tags %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block page_title %}{% endblock %}</title>
        {% block additional_head %}{% endblock %}
        {% block display_meta %}
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        {% endblock %}
        {% render_block "css" %}
    </head>
    <body>
        {% block content %}{% endblock %}
        {% render_block "js" %}
    </body>
</html>
