{% extends "slides/slide.html" %}

{% block slide %}
    <section>
        <section>
            <h1>{{ slide.title }}</h1>
        </section>
        <section>
            <h2>Frontend-Editing</h2>
            <p>Edit page content without moving around the Admin</p>
            <p><small>Works with all plugins</small></p>
        </section>
        <section>
            <h2>Plugin-based</h2>
            <p>Django apps are plugins</p>
            <p><small>Lots of <a href="https://www.django-cms.org/en/add-ons/"target="_blank">add ons</a> and extras</small></p>
        </section>
        <section>
            <h2>Permission management</h2>
            <p>Set specific rights to different users</p>
        </section>
        <section>
            <h2>It's International</h2>
            <p>Easily provide multiple translations for content</p>
            <aside class="notes">40+ languages</aside>
        </section>
        <section>
            <h2>Large developer community</h2>
            <p>Active <a href="https://plus.google.com/communities/107689498573071376044" target="_blank">Google+</a> community</p>
        </section>
        <section>
            <h2>And more</h2>
            <ul>
                <li>Pretty URLs</li>
                <li>django SHOP</li>
                <li>Blog support</li>
                <li>Google Analytics</li>
            </ul>
        </section>
    </section>
{% endblock %}
