{% extends "slides/slide.html" %}

{% block slide %}
    <section>
        <h1>Hello</h1>
        <h3>A presentation about Django 1.7 and Django-CMS 3.0</h3>
        <p><small>Created by <a href="http://www.webchad.com" target="_blank">Chad Shryock</a> / <a href="http://www.github.com/g3rd" target="_blank">github.com/g3rd</a> / <a href="http://twitter.com/webchad" target="_blank">@webchad</a> / <a href="https://www.google.com/+ChadShryock?rel=author" target="_blank" rel="author">google.com/+ChadShryock</a></small></p>
    </section>
{% endblock %}
